$bg-primary: #FFFFFF;
$bg-button:#00F3BB;
$bg-menu:#0000FF;
$bg-gradient-top:#0000FF;
$bg-gradient-bottom:#0000A3;


$font-dark:#060A24;
$font-light:#FFFFFF;
$font-dot:#0000EC;

$font-primary: 'IBM Plex Mono', monospace; 
$font-title: 'IBM Plex Sans', sans-serif;
